@import "/css/global/global.css";
@import "/css/global/header.css";
@import "/css/global/footer.css";
@import "/css/termos/termos.css";

/* HOME */
@import "/css/home/intro.css";
@import "/css/home/tecnologia.css";
@import "/css/home/parceiros.css";
@import "/css/home/depoimento.css";

/* utilidades */
@import "/css/utllidades/tipografia.css";
@import "/css/utllidades/componentes.css";
@import "/css/utllidades/cores.css";

/* Seguros */

@import "/css/seguros/seguros.css";
@import "/css/seguros/vantagens.css";
@import "/css/seguros/perguntas.css";


/* Bicicletas */
@import "/css/bicilcleta/bicicletas-lista.css";
@import "/css/bicilcleta/bicicletas.css";
@import "/css/bicilcleta/seguro.css";
@import "/bicicletas/bike.css";